<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <!-- Carpool Button  -->
  <div class="card1" routerLink="/offer_want" routerLinkActive="active">
    <div class="top-section">
      <div class="avatar">
        <img class="img-bus" src="../assets/img/public_transport@2x.png" alt="Carpool">
      </div>
    </div>
    <div class="bot-section">
      <h6 class="carpool">
        Carpool
      </h6>
    </div>
  </div>
  <!-- GraduateCheck Button  --> 
  <div class="card2" routerLink="/graduatecheck" routerLinkActive="active">
    <div class="top-section">
      <div class="avatar">
        <img class="img-bus" src="../assets/img/public_transport@2x.png" alt="Carpool">
      </div>
    </div>

    <div class="bot-section">
      <h6 class="carpool"  >
        GraduateCheck
      </h6>
    </div>
  </div>
  <!-- UsedCar Button  -->
    <div class="card3" routerLink="/usedcar" routerLinkActive="active">
      <div class="top-section">
        <div class="avatar">
          <img class="img-bus" src="../assets/img/public_transport@2x.png" alt="Carpool">
        </div>
      </div>
      <div class="bot-section">
        <h6 class="carpool"  >
            UsedCar
          </h6>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>

