<!--The content below is only a placeholder and can be replaced.-->
<div class="container">


    <div class="card1" >
      <div class="top-section">
        <div class="avatar">
          <img class="img-bus" src="../assets/img/public_transport@2x.png" alt="Carpool">
        </div>
      </div>
      <div class="bot-section">
        <button class="carpool" (click)="gotoCarpool" >Carpool</button>
      </div>
    </div>
  
    <div class="card2" >
      <div class="top-section">
        <div class="avatar">
          <img class="img-bus" src="../assets/img/public_transport@2x.png" alt="Carpool">
        </div>
      </div>
      <div class="bot-section">
        <button class="carpool" (click)="gotoGraduateCheck" >GraduateCheck</button>
      </div>
      </div>
    </div>
    <div class="card3" >
      <div class="top-section">
        <div class="avatar">
          <img class="img-bus" src="../assets/img/public_transport@2x.png" alt="Carpool">
        </div>
      </div>
      <div class="bot-section">
        <button class="carpool" (click)="gotoUsedCar" >UsedCar</button>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>

